<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" >
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">QuizZone</a>
    <a class="nav-link" *ngIf="studentEmail" style="color: #fff">Welcome {{studentName}} ({{studentEmail}})</a>

    <ul class="navbar-nav">
        <li class="nav-item text-nowrap">
            
          </li>
      <li class="nav-item text-nowrap" style="padding-right: 20px;">
        <a class="nav-link" (click)="signout()" href="/login" >Sign out</a>
      </li>
    </ul>
  </nav>
  
  <div class="container px-lg-12"  *ngIf="!quizService.qns" class="startTextContainer">
    <div class="row mx-lg-12 ">
      <div class="col py-8 px-lg-7 border bg-light">
        <h2>Instruction</h2>
   
     <div class="form-row">
        <div class="form-group col-md-12">
          <textarea  class="form-control instruction" >
              {{textInstruction}}
          </textarea>
        </div>
      </div>
      </div>
      <div class="col py-4 px-lg-3 border bg-light textForm">
        <form [formGroup]="startTestForm" (ngSubmit)="start()">
          <div class="row">
            <div class="col-md-4">
                <span for="optiona"></span>
                    <input  type="hidden"
                    [formControl]="startTestForm.controls['code']" 
                    formControlName="code" class="form-control" [(ngModel)]="myLogInTestCode">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
                    <input  type="hidden"
                    [formControl]="startTestForm.controls['email']" 
                    formControlName="email"  class="form-control" [(ngModel)]="studentEmail" >
            </div>
          </div>
          <div class="row">
            <div class=" col-md-6" style="margin-top: 30px;">
            <button class="btn btn-outline-success btn-lg startTestBtn" [disabled]="!startTestForm.valid" > Start Test</button>
            </div>
          </div>
        </form>
      </div>
      </div>
  </div>

<div class="container-fluid" id="main">



    <div class="row">
      <main role="main" class="col-md-12" >
        <div class="col-md-12"  *ngIf="quizService.qns">
       <span *ngIf="remainingDuration === 0">
       {{postResult()}}
       </span>
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <button type="button" class="btn btn-sm btn-outline-secondary"><h1 class="h2">TEST TITLE : {{testTitle}}</h1></button>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary"><span>Timer: {{displayTimeElapse()}}</span> <span *ngIf="duration !=undefined">{{"Duration: " + duration}} Minutes</span></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"> <span>{{"Remaining Duration: " + remainingDuration}} Minutes</span></button>
            </div>
          </div>
        </div>
   
          <div class="card" style="margin-left: 20px; margin-right:20px;" *ngIf="quizService.qns">
            <div class="card-header">
           <div class="card-title float float-left" ><span>Test Code: {{theTestCode}}</span>
          </div>
           <div class="float float-right" style="margin-right: 20px;"><span *ngIf="correct">{{correct}}</span> <span *ngIf="displayFinalResult">{{displayFinalResult}}</span> {{" | Marks: " + quizService.qns[pos].marks}} </div>
          
            </div>
            <div class="card-body" *ngIf="quizService.qns">
          <div class="col-md-12">
              <div class="col-md-6 float-left lefteDiv">
                <div>
                    <p class="questions" >{{quizService.qns[pos].Qn}}</p>
                </div>

                  <div *ngIf="quizService.qns[pos].ImageName !=null" class="image">
                      <img class="center" [src]="quizService.rootUrl + 'files/' + quizService.qns[pos].ImageName" style="width:350px; height:200px;">
                    </div>
              </div>
              <div  class="col-md-6 float-right">
                <form [formGroup]="form" (ngSubmit)="checkAnswer()" >
                    <div class="row">
                    <div class="col-md-12">
                        <label for="optiona">  A
                            <input  type="radio"
                            [formControl]="form.controls['choices']" 
                            formControlName="choices" value="A" >
                              <span>{{quizService.qns[pos].Option1 }}</span>
                            </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <label> B
                            <input type='radio'  [formControl]="form.controls['choices']" 
                            formControlName="choices" value="B">
                          <span>{{quizService.qns[pos].Option2 }}</span>
                        </label>
                    </div>
                  </div>
    
                  <div class="row">
                      <div class=" col-md-12">
                          <label>C
                              <input type='radio'  [formControl]="form.controls['choices']" 
                              formControlName="choices" value="C">
                            <span>{{quizService.qns[pos].Option3 }}</span>
                          </label>
                      </div>
                    </div>
  
                    <div class="row">
                        <div class=" col-md-12">
                            <label>D
                                <input type='radio'  [formControl]="form.controls['choices']" 
                                formControlName="choices" value="D">
                              <span>{{quizService.qns[pos].Option4 }}</span>
                            </label>
                        </div>
                      </div>
                  <div class="row">
                    <div class=" col-md-4" style="margin: 10px 5px 5px 20px;"  *ngIf="!flagSubmit">
                    <button class="submitButton btn btn-outline-success" [disabled]="!form.valid" > Next Question</button>
                    </div>
                    <div class=" col-md-4"style="margin: 10px 5px 5px 20px;" *ngIf="flagSubmit">
                      <button class="submitButton btn btn-outline-danger" (click)="postResult();"> SUBMIT RESULT </button>
                      </div>
                    
                  </div>
                </form>
              </div>
          </div>

            </div>
          </div>
  
  
        </div> 
      </main>
    </div>
  </div>
