<app-navbar></app-navbar>

<div class="container-fluid" id="main">
    <div class="row">
     
      <main role="main" class="col-md-12">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a [routerLink]="['/testmgt']"><button type="button" class="btn btn-sm btn-outline-secondary">Add Test</button></a>
                <a [routerLink]="['/testList']"> <button type="button" class="btn btn-sm btn-outline-secondary">List Test</button></a>
            </div>
          </div>
        </div>
   
          <div class="card" style="margin-left: 20px; margin-right:20px;">
            <div class="card-header">
           <div class="card-title float float-left" ><span>Count down: {{displayTimeElapse()}}</span> <span *ngIf="duration !=undefined">{{"Duration: " + duration}} Minutes</span>
          <span>{{"Remaining Duration: " + remainingDuration}} Minutes</span>
          </div>
           <div class="float float-right" style="margin-right: 20px;"><span *ngIf="correct !=0">{{correct}}</span> <span *ngIf="displayFinalResult">{{displayFinalResult}}</span> {{" Marks: " + quizService.qns[pos].marks}} </div>
          
            </div>
            <div class="card-body" *ngIf="quizService.qns">
          <div class="col-md-12">
              <div class="col-md-6 float-left lefteDiv">
                <div>
                    <p class="questions" >{{quizService.qns[pos].Qn}}</p>
                </div>

                  <div *ngIf="quizService.qns[pos].ImageName !=null" class="image">
                      <img class="center" [src]="quizService.rootUrl + 'files/' + quizService.qns[pos].ImageName" style="width:350px; height:200px;">
                    </div>
              </div>
              <div  class="col-md-6 float-right">
                <form [formGroup]="form" (ngSubmit)="checkAnswer()" >
                    <div class="row">
                    <div class="col-md-12">
                        <label for="optiona">  A
                            <input  type="radio"
                            [formControl]="form.controls['choices']" 
                            formControlName="choices" value="A" >
                              <span>{{quizService.qns[pos].Option1 }}</span>
                            </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <label> B
                            <input type='radio'  [formControl]="form.controls['choices']" 
                            formControlName="choices" value="B">
                          <span>{{quizService.qns[pos].Option2 }}</span>
                        </label>
                    </div>
                  </div>
    
                  <div class="row">
                      <div class=" col-md-12">
                          <label>C
                              <input type='radio'  [formControl]="form.controls['choices']" 
                              formControlName="choices" value="C">
                            <span>{{quizService.qns[pos].Option3 }}</span>
                          </label>
                      </div>
                    </div>
  
                    <div class="row">
                        <div class=" col-md-12">
                            <label>D
                                <input type='radio'  [formControl]="form.controls['choices']" 
                                formControlName="choices" value="D">
                              <span>{{quizService.qns[pos].Option4 }}</span>
                            </label>
                        </div>
                      </div>
                  <div class="row">
                    <div class=" col-md-6" style="margin-top: 30px;">
                    <button class="submitButton btn btn-outline-success" [disabled]="!form.valid" > Next Question</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>

            </div>
          </div>
  
  
        <!-- </div> -->
      </main>
    </div>
  </div>
