* {
    padding: 0;
    margin: 0;
}
.questions{
    background-color: #ffffff; 
    color: #000000;
    border-radius: 3px;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-bottom:20px;
}
.submitButton{
    width: 100%;
    height: 50px;
    font-size: 24px;
}
.lefteDiv{
    border-right: 1px solid gray;
}
label{
    display: block;
    max-width: 100%;
    border: 1px solid gray;
    padding-left: 20px;
    min-height: 21px;
    font-weight: normal;
    cursor: pointer;
   margin: 10px;
   border-radius: 5px;
}

input[type="radio"]{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:5px;
    margin-left:5px;
    line-height: normal;
}
span {
    display: inline-block;
    padding: 7px;
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    border-radius: 0;
}

div p {
    margin-top: 5px;
    font-family: roboto,sans-serif;
    font-size: 13px;
    color: #333;
}
.image{
    padding: 20px;
}
#main{
margin-top: -50px;
}