nav{
    margin-top: -80px;
}
p{
    font-size: 40px;
    text-align: center;
    margin: 300px;
    color: black;

}

.logo img{
    width: 60px;
    height: auto;
    margin-top:-10px;
    margin-left: 30px;
    float: left;
    
}
.logo span{
    font-family: roboto;
    font: outline;
    font-size: 16px;
}
.btn{
    border: 1px solid #ffffff;
background: #000000;
color: #ffffff;
}
.btn:hover{
    background: #ffffff;
color: #000000;
}