#main{
    margin-top: -50px;
    }
    .forCandidate{
        font-size: 24px;
        margin-bottom: 20px;
    }
    @media screen and (Min-width: 500px) {
      
    }

    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        h2{
           text-align: center;
           font-size: 16px;
           margin-top: 5px;
        } 

        .forCandidate{
            font-size: 18px;
            margin-bottom: 20px;
           margin-top: -20px;

        }

        .dhavccount{
            font-size: 14px;
        }
        .rowContainer{
            padding: 10px 10px 10px 47px;

        }
      }