<app-page-not-found></app-page-not-found>
<main role="main" class="col-md-12">
   
  <div class="container px-lg-12"  class="startTextContainer">
        <div class="row mx-lg-12 ">
          <div class="col py-8 px-lg-7 border bg-light">
            <h2>Candidate</h2>
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-header mt-3 text-center" style="margin-bottom: 20px;">Want to take an exam? Login</h4>
                    <form [formGroup]="loginForm" (ngSubmit)="candidateLogin()">
                      <div class="form-group input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-code-fork"></i> </span>
                       </div>
                          <input  type="text" [formControl]="loginForm.controls['code']"
                          class="form-control" placeholder="Enter test code" (change)="getTestCode($event)">
                      </div> <!-- form-group// -->
              
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
                        <input id="icon_telephone" type="email" [formControl]="loginForm.controls['email']"
                        [pattern]="emailPattern" class="form-control" placeholder="Email address" >
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" type="password" [formControl]="loginForm.controls['password']"
                    class="form-control" placeholder="password"
                    [ngClass]="{'is-invalid': loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched}">
                    <div class="invalid-feedback"
                    *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                    password must not be less than 6 digits</div>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button  class="btn btn-primary btn-block"  type="submit" [disabled]="!loginForm.valid"
                        class="form-control text-primary">Login</button>
                    </div> <!-- form-group// -->      
                    <p class="text-center">Don't have an account? <a   [routerLink]="['/register']" > <button class="btn btn-outline-success my-2 my-sm-0">Register</button> </a> </p>                                                                 
                </form>
                </article>
                </div> <!-- card.// -->
        </div>



        <div class="col py-8 px-lg-7 border bg-light">
            <h2>Examinals</h2>
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-header mt-3 text-center" style="margin-bottom: 20px;">Want to set an exam? Login</h4>
                    <form [formGroup]="examinalLoginForm" (ngSubmit)="examinalLogin()">
                      <div class="form-group input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> <i class="fa fa-code-fork"></i> </span>
                       </div>
                          <input  type="text" [formControl]="examinalLoginForm.controls['examinal']"
                          class="form-control" placeholder="type Examinal">
                      </div> <!-- form-group// -->
              
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
                        <input id="icon_telephone" type="email" [formControl]="examinalLoginForm.controls['email']"
                        [pattern]="emailPattern" class="form-control" placeholder="Email address" >
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input id="password" type="password" [formControl]="examinalLoginForm.controls['password']"
                    class="form-control" placeholder="password"
                    [ngClass]="{'is-invalid': loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched}">
                    <div class="invalid-feedback"
                    *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                    password must not be less than 6 digits</div>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button  class="btn btn-primary btn-block"  type="submit" [disabled]="!examinalLoginForm.valid"
                        class="form-control text-primary">Login</button>
                    </div> <!-- form-group// -->      
                    <p class="text-center">Don't have an account? <a   [routerLink]="['/register']" > <button class="btn btn-outline-success my-2 my-sm-0">Register</button> </a> </p>                                                                 
                </form>
                </article>
                </div> <!-- card.// -->
        </div>





</div>
    </div> <!-- container ends -->
  </main>