<app-navbar></app-navbar>
  <div class="container-fluid" id="main">
      <div class="row">
        <main role="main" class="col-md-12">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">New Test</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                  <a [routerLink]="['/testmgt']"><button type="button" class="btn btn-sm btn-outline-secondary">Add Test</button></a>
                  <a [routerLink]="['/testList']"> <button type="button" class="btn btn-sm btn-outline-secondary">List Test</button></a>
              </div>
              
            </div>
          </div>
    
          <div class="container ">
            <div class="card">
              <div class="card-header">
                <h2>Add new test</h2>
              </div>
              <div class="card-body addTestCard" >
                  <form [formGroup]="addTestForm" (ngSubmit)="postTest()">
                      <div class="row">
                          <div  class="col-md-12">
                            <input id="icon_telephone" class="form-control" type="hidden"   [formControl]="addTestForm.controls['participantId']" [(ngModel)]="examinalId">
                          </div>
                        </div>
                      <div class="row">
                        <div class="col-md-6">
                            <label for="icon_prefix">Subject Name</label>
                          <input id="icon_prefix" class="form-control"  type="text" [formControl]="addTestForm.controls['subjectName']" >
                         
                        </div>
                     
                        <div  class="col-md-6">
                            <label for="icon_telephone">number of Questions</label>
                          <input id="icon_telephone" class="form-control" type="number"  [formControl]="addTestForm.controls['numberOfQn']" >
                         
                        </div>
                      </div>
          
                      <div class="row">
                          <div  class="col-md-6">
                              <label for="icon_telephone">Duration (in mins)</label>
                            <input id="icon_telephone" class="form-control" type="number"  [formControl]="addTestForm.controls['duration']" >
                           
                          </div>
                      
                            <div class="col-md-6">
                                <label for="icon_telephone">Test Code</label>
                              <input id="icon_telephone" class="form-control" type="text"  [formControl]="addTestForm.controls['testCode']">
                              
                            </div>
                          </div>
                          <div class="row">
                            <div  class="col-md-12">
                                <label for="icon_telephone">Test Instructions</label>
                              <textarea id="icon_telephone" class="form-control" type="text" rows="5"   [formControl]="addTestForm.controls['instruction']" ></textarea>
                             
                            </div>
                          </div>
            
                      <div class="row">
                       
                          <button class="form-control btn-submit btn-outline-primary" type="submit" [disabled]="!addTestForm.valid">
                              <i
                              *ngIf="loadingTest" class="fa fa-spinner fa-spin"></i>Submit</button>
                        
                      </div>
                    </form>
              </div>
            </div>
    
    
          </div>
        </main>
      </div>
    </div>