<app-page-not-found></app-page-not-found>
    <main>

        <div class="row navba">
                <ul class="main-nav ">
                    <li class="active"><a  [routerLink]="['/home']">Home</a></li>
                    <li><a href="/faq">How it works</a></li>
                    <li><a href="javascript: document.body.scrollIntoView(false);">Contact Us</a></li>
                </ul>
            </div>

<header>
    <div class="welcomeMsg"> 
       

				<div class="row">
					<div class="students" [ngStyle]="studentsPix()">
                        <h1> 
                            The best free Online Examination System for Schools and Companies
                        </h1>

                        <p>
                            Create unlimited test and multiple choice questions
                            for your upcoming recruitment exercise or classroom tests
                        </p>
                               <a [routerLink]="['/register']"> <button class="btn  btn-lg startBtn" >Get started, it's free</button></a>
						
                    </div>
            </div>
        </div>

</header>
	<div class="news">
           

                    <div class="row col-md-12">
                            <div class="col-md-4">
						
								<div class="card news1">
                                        <h3 class="newsHeading">1. Create Tests</h3>
                                        <img src="assets/images/create-tests.webp">
								  <div class="card-body">
                                        <p>Create Tests and add multiple number of questions in each test </p>
								  </div>
                                </div>
                            </div>
                                <div class="col-md-4">
								<div class="card news2">
                                        <h3 class="newsHeading">2. View Results</h3>
                                        <img src="assets/images/instant-exam-grading.webp">
								  <div class="card-body">
                                        <p>View or Print results of candidates that participated in the test from your dasboard.</p>
								  </div>
                                </div>
                            </div>
                            <div class="col-md-4">

								<div class="card news3">
                                        <h3 class="newsHeading">3.Sort Results</h3>
                                        <img src="assets/images/analyse-exam-statistics.webp">
								  <div class="card-body">
                                        <p>The system automatically sorts results in descending order, to ease decision making</p>
								  </div>
								</div>
							 </div>


					
				
				</div>
				</div>


		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

                <div class="footer-left">
    
                    <h3 style="font-size:18px; color: #ffffff;">  <img src="assets/images/mngqn.png" width="50px" height="50px"> <span style="color: #ffffff;">QuizZone</span> </h3>
    
                    <p class="footer-links">
                        <a [routerLink]="['/home']">Home</a>
                        ·
                        <a href="#">How it works</a>
                        ·
                        <a href="javascript: document.body.scrollIntoView(false);">Contact Us</a>
                    </p>
    
                    <p class="footer-company-name">QuizZone &copy; 2019</p>
    
                    <div class="footer-icons">
    
                        <a href="https://web.facebook.com/Getheknowledge-306536769840436/"><i class="fa fa-facebook"></i></a>
                    </div>
    
                </div>
    
                <div class="footer-right" id="conactus">
    
                    <p>Contact Us</p>
                  
                    <form [formGroup]="contactForm" (ngSubmit)="contactus()">
                        <input type="email" [formControl]="contactForm.controls['email']" placeholder="Email" [pattern]="emailPattern"
                        [ngClass]="{'is-invalid': contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched}" />
                        <div class="invalid-feedback"
                        *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched">
                       Invalid Email</div>
                        <textarea [formControl]="contactForm.controls['message']" placeholder="Message"></textarea>
                        <button  class="btn btn-primary btn-block"  type="submit" [disabled]="!contactForm.valid"
          class="form-control text-primary"> <i
          *ngIf="loadingContactus" class="fa fa-spinner fa-spin"></i> Submit </button>
                    </form>
                   
                </div>
                <span style="color: white; margin-top:50px;">Phone: 07065907948
                    Email: myskillhub@gmail.com</span>
            </footer>
</main>
