
<app-page-not-found></app-page-not-found>
    <main role="main" class="col-md-12">
      <div class="container ">
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <p>
        <a href="" class="btn btn-block btn-twitter"> <i class="fa fa-twitter"></i>   Login via Twitter</a>
        <a href="" class="btn btn-block btn-facebook"> <i class="fa fa-facebook-f"></i>   Login via facebook</a>
      </p>
      <p class="divider-text">
            <span class="bg-light">OR</span>
        </p>
        <form [formGroup]="participantForm" (ngSubmit)="addParticipant()">
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input id="icon_prefix" type="text" [formControl]="participantForm.controls['name']"  placeholder="Full name" class="form-control">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
         </div>
            <input id="icon_telephone" type="email" [formControl]="participantForm.controls['email']"
            [pattern]="emailPattern" class="form-control" placeholder="Email address" >
        </div> <!-- form-group// -->
       
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
        </div>
        <select  [formControl]="participantForm.controls['role']" class="form-control"  >
            <option [value]="null" [selected]="null">Select role</option>
            <option value="Examinal">Examinal</option>
            <option value="Candidate">Candidate</option>
          </select>
      </div> <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input id="password" type="password" [formControl]="participantForm.controls['password']"
        class="form-control" placeholder="password"
        [ngClass]="{'is-invalid': participantForm.controls['password'].hasError('required') && participantForm.controls['password'].touched}">
        <div class="invalid-feedback"
        *ngIf="participantForm.controls['password'].hasError('required') && participantForm.controls['password'].touched">
        password must not be less than 6 digits</div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
            <input id="confirmPassword" type="password" [formControl]="participantForm.controls['confirmPassword']"
           class="form-control" placeholder="Confirm Password" 
           [ngClass]="{'is-invalid': participantForm.controls['confirmPassword'].hasError('required') && participantForm.controls['confirmPassword'].touched}">
           <div class="invalid-feedback"
           *ngIf="participantForm.controls['confirmPassword'].hasError('required') && participantForm.controls['confirmPassword'].touched">
           password must not be less than 6 digits</div>
        </div> <!-- form-group// -->                                      
        <div class="form-group">
            <button  class="btn btn-primary btn-block"  type="submit" [disabled]="!participantForm.valid"
            class="form-control text-primary">Create Account</button>
        </div> <!-- form-group// -->      
        <p class="text-center">Have an account? <a   [routerLink]="['/login']" > <button class="btn btn-outline-success my-2 my-sm-0">Login</button> </a></p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->

      </div> <!-- container ends -->
    </main>
  

